.ant-table-content {
    background-color: rgb(39,39,39) !important;
    color: white !important;
}

/* .ant-table-row:hover {
    background-color: green !important;
    color: white !important;
} */

thead .ant-table-cell {
    background-color: rgba(255, 69, 0, .7) !important;
    color: white !important;
}
