.ant-table-content {
    background-color: rgb(39,39,39) !important;
    color: white !important;
}

.ant-table-row:hover {
    background-color:  rgba(255, 69, 0, .7) !important;
    color:  rgb(255, 69, 0) !important;
}
  
thead .ant-table-cell {
    background-color: rgba(255, 69, 0, .7) !important;
    color: white !important;
}
